.*
!.gitignore
!.gitkeep
*.iml
*.log
*.bak
*.jar
logs/*
*.py[cod]
*/bin/
!**/eppalert-agent
!**/eppalert-config

target/
apps/apps/flume/*
apps/apps/jdk1.8.0_71/*
apps/apps/mysql-5.7.12/*

*.tar.gz
*.tgz
*.zip
*.image
*.log.*
!application.properties
!.gitkeep

